# Task 1: KEy value pair adding in dictionary

In [1]:
key =input("Enter key:")
value = input("Enter value to the key:")

dict1={};
dict1.update({key:value})
dict1

Enter key:name
Enter value to the key:shiji

{'name': 'shiji'}

# Concating two dictionaries

In [2]:
dict1={'name':"sharjeel", 'f_name':"Haji ahmed"} 
dict2={'university':"UAAR",'Semester':"7th"} 
dict1.update(dict2) 
dict1

{'name': 'sharjeel',
 'f_name': 'Haji ahmed',
 'university': 'UAAR',
 'Semester': '7th'}

# Alternative for task 2

In [3]:
key =input("Enter key:")
value = input("Enter value to the key:")
dict1={}
dict1.update({key:value})
dict2={}
key2=input("Enter key for dictionary 2:")
value2=input("Enter value for dictionary 2:")
dict2.update({key2:value2})
dict1.update(dict2)
dict1

Enter key:name
Enter value to the key:sharjeel
Enter key for dictionary 2:university
Enter value for dictionary 2:uaar

{'name': 'sharjeel', 'university': 'uaar'}

# Task3 Check a given key exist in dictionary or not

In [4]:
dict1

{'name': 'sharjeel', 'university': 'uaar'}

In [9]:
check=input("Enter key to check:")
if check in dict1.keys():
    print("found and the value of the key is:")
    print(dict1[check])
else:
    print("not found")

Enter key to check:arid
not found

# Task 4 Create Dictionary that contains number ranges from 1 to n+1 in the form x:x*x

In [13]:
x=int(input("Enter the value of last number:"))
d={y:y*y for y in range(1,x+1)}
    
print(d)

Enter the value of last number:5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

# Task 5 sum all items in dictionaries

In [29]:
Dict5={'A1':5,'B1':56,'C1':90,'D1':786}
total=0
for i in Dict5.values():
    total+=i;
print(total)

937

# Task 6 Multiply all items in dictionary

#####

In [38]:
Dict5
mul=1
for i in Dict5.values():
    mul*=i
    
print(mul)

19807200

# Task 7 Remove given key from dictionary

In [45]:
Dict5={'A1':5,'B1':56,'C1':90,'D1':786}
key=input("Enter key to remove:")
print(Dict5)
Dict5.pop(key)
print("After Removing key value: ")
print(Dict5)

Enter key to remove:A1
{'A1': 5, 'B1': 56, 'C1': 90, 'D1': 786}
After Removing key value:
{'B1': 56, 'C1': 90, 'D1': 786}

# Task 8 Map two List into Dictionary

In [73]:
l1=["University","Semester"]
l1.extend({"Shift","CGPA","name"})
l2=["UAAR","BSCS7","Evenig","3.4","shiji"]
l1.extend(l2)
l3=zip(l1,l2)

dict1=dict(l3)
dict1

{'University': 'UAAR',
 'Semester': 'BSCS7',
 'Shift': 'Evenig',
 'CGPA': '3.4',
 'name': 'shiji'}

# Task 9 Frequency of words

In [78]:
str= input("Entetr String .....")
l1 =[]
l1=str.split()
freq=[l1.count(j) for j in l1]
l2=zip(l1,freq)
print(dict(l2))

Entetr String .....hello world hello python love python programming
{'hello': 2, 'world': 1, 'python': 2, 'love': 1, 'programming': 1}

In [ ]:
Task 10