# List

In [1]:
student=["sharjeel", "BSCS", 3.4,"923135025995"]
print(student)
dir(list)

['sharjeel', 'BSCS', 3.4, '923135025995']

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [2]:
names=["anjum","ahmed"]
names.append("shiji")
print(names)
names.clear()
print(names)

['anjum', 'ahmed', 'shiji']
[]

In [3]:
names=["anjum","ahmed"]
names.append("shiji")
print(names)

['anjum', 'ahmed', 'shiji']

In [4]:
names=["anjum","ahmed"]
names.append("shiji")
print(names)
names1=names
print(names1)
names1[0]= "ali"
print(names1)
print(names)
#using this it cause logical error due to changing value 1 it cause in all copies so use copy function.

['anjum', 'ahmed', 'shiji']
['anjum', 'ahmed', 'shiji']
['ali', 'ahmed', 'shiji']
['ali', 'ahmed', 'shiji']

In [5]:
names=["anjum","ahmed"]
names.append("shiji")
print(names)
names1=[]
print(names1)
names1=names.copy()
print(names1)
names.count("anjum")

['anjum', 'ahmed', 'shiji']
[]
['anjum', 'ahmed', 'shiji']

1

In [6]:
names=["A","B"]
names.count("A")

1

# append

In [7]:
l1=["a","b"]
l2=["c","d"]
l3=l1.extend(l2)
print(l3) # in memory operation
print(l2)
print(l1)

None
['c', 'd']
['a', 'b', 'c', 'd']

# index

In [8]:
print(l1)
l1.index("d",1) #return 1st index of same character but change by using index number whre we want to start

['a', 'b', 'c', 'd']

3

In [9]:
print(l1)

['a', 'b', 'c', 'd']

In [10]:
list2=["a","b","x"]
print(list2)
list2.insert(0,"c")
print(list2)

['a', 'b', 'x']
['c', 'a', 'b', 'x']

In [11]:
#pop
list2.pop(2)
print(list2)

['c', 'a', 'x']

In [12]:
#remove with value but first value.
list2.remove("c")
print(list2)

['a', 'x']

In [13]:
list1=["A","b","c","d","Z","m"]
print(list1)
list1.reverse()
print(list1)

['A', 'b', 'c', 'd', 'Z', 'm']
['m', 'Z', 'd', 'c', 'b', 'A']

In [14]:
list1=["a","b","c","d","z","m"]
print(list1)
list1.sort()
print(list1)

['a', 'b', 'c', 'd', 'z', 'm']
['a', 'b', 'c', 'd', 'm', 'z']

In [15]:
#in decending order
list1=["a","b","c","d","z","m"]
print(list1)
list1.sort(reverse=True)
print(list1)

['a', 'b', 'c', 'd', 'z', 'm']
['z', 'm', 'd', 'c', 'b', 'a']

In [16]:
l1=["A","B","C","D"]
l1.__add__(["D","E"]) #just perform operation and does not change the orignal value(inline operation)

['A', 'B', 'C', 'D', 'D', 'E']

In [17]:
l1=["A","B","C","D"]
l1.__class__

list

In [18]:
l1=["A","B","C","D"]
print(l1.__contains__("A"))

True

In [19]:
l1=["A","B","C","D"]
l2=["A","B","C","D"]
l3=['a','f']
print(l1.__eq__(l2))
print(l1.__eq__(l3))

True
False

# Loop

In [20]:
["pakistan",12] *100

['pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12]

In [21]:
counter=1   #initialise
while counter <= 10:  #logic
    print("Pakistan",counter)
    counter +=1 #increment or decrement
print("Done")

Pakistan 1
Pakistan 2
Pakistan 3
Pakistan 4
Pakistan 5
Pakistan 6
Pakistan 7
Pakistan 8
Pakistan 9
Pakistan 10
Done

# For Loop

In [22]:
# (count, logic, increment)
for i in range (1,11):
    print("PAkistan", i)

PAkistan 1
PAkistan 2
PAkistan 3
PAkistan 4
PAkistan 5
PAkistan 6
PAkistan 7
PAkistan 8
PAkistan 9
PAkistan 10

In [23]:
while(True):
    print("dd")
    break

dd

# Tupple

In [24]:
for i in range (1,11):
    print("2 X " + str(i)+ "=" +str(2*i))

2 X 1=2
2 X 2=4
2 X 3=6
2 X 4=8
2 X 5=10
2 X 6=12
2 X 7=14
2 X 8=16
2 X 9=18
2 X 10=20

# Example

In [25]:
enter="y"
list1=[]
while(enter=='y' or enter=="Y"):
     
        name=input("Enter name")
        father_name=input("Enter Father name")
        Contact=input("Enter number")
        list1.append(name)
        list1.append(father_name)
        list1.append(Contact)
        choice=input("Do you want again? y/n")
        if choice=='y':
                 enter=choice
   
        else:
            break
        
print(list1)

Enter nameshiji
Enter Father namehaji ahmed
Enter number03135025995
Do you want again? y/nn
['shiji', 'haji ahmed', '03135025995']

In [26]:
print("hellow")

hellow

In [ ]:
no=int(input("Enter number"))
for table in range (1,no+1):
    print("\n")
    for i in range (1,10):
         print( table,"X",i,"=",table*i)

In [ ]:
for i in range (1,100):
    if i% 5==0 :  
        print(i)
    if i% 15==0:
        print(i)
    if i%7==0:
        print(i)

In [ ]:
slap=True
rich=True
boy=True
girl=True
go=True
your_wife=True
marry=True
friend=True
her_husband =True
if go==True and rich==True:
    print("Direct marketing")
    
elif friend == True and rich==True:
    print("Advertising")
elif rich == True and slap==True:
    print("Feedback") 
elif girl==True  and rich == True:
    print("Brand Recognition")
elif rich== True and  her_husband== True:
    print("Demand and supply Gap")
elif rich==false and marry==false and your_wife==True:
    print("Ristriction from marketing")