# List

In [13]:
student=["sharjeel", "BSCS", 3.4,"923135025995"]
print(student)
dir(list)

['sharjeel', 'BSCS', 3.4, '923135025995']

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [20]:
names=["anjum","ahmed"]
names.append("shiji")
print(names)
names.clear()
print(names)

['anjum', 'ahmed', 'shiji']
[]

In [21]:
names=["anjum","ahmed"]
names.append("shiji")
print(names)

['anjum', 'ahmed', 'shiji']

In [25]:
names=["anjum","ahmed"]
names.append("shiji")
print(names)
names1=names
print(names1)
names1[0]= "ali"
print(names1)
print(names)
#using this it cause logical error due to changing value 1 it cause in all copies so use copy function.

['anjum', 'ahmed', 'shiji']
['anjum', 'ahmed', 'shiji']
['ali', 'ahmed', 'shiji']
['ali', 'ahmed', 'shiji']

In [32]:
names=["anjum","ahmed"]
names.append("shiji")
print(names)
names1=[]
print(names1)
names1=names.copy()
print(names1)
names.count("anjum")

['anjum', 'ahmed', 'shiji']
[]
['anjum', 'ahmed', 'shiji']

1

In [52]:
names=["A","B"]
names.count("A")

1

# append

In [48]:
l1=["a","b"]
l2=["c","d"]
l3=l1.extend(l2)
print(l3) # in memory operation
print(l2)
print(l1)

None
['c', 'd']
['a', 'b', 'c', 'd']

# index

In [50]:
print(l1)
l1.index("d",1) #return 1st index of same character but change by using index number whre we want to start

['a', 'b', 'c', 'd']

3

In [61]:
print(l1)

['Muhammad', 'Muhammad', 'Muhammad', 'Muhammad', 'Muhammad', 'a', 'b', 'c', 'd']

In [64]:
list2=["a","b","x"]
print(list2)
list2.insert(0,"c")
print(list2)

['a', 'b', 'x']
['c', 'a', 'b', 'x']

In [65]:
#pop
list2.pop(2)
print(list2)

['c', 'a', 'x']

In [69]:
#remove with value but first value.
list2.remove("c")
print(list2)

['a']

In [70]:
list1=["A","b","c","d","Z","m"]
print(list1)
list1.reverse()
print(list1)

['A', 'b', 'c', 'd', 'Z', 'm']
['m', 'Z', 'd', 'c', 'b', 'A']

In [72]:
list1=["a","b","c","d","z","m"]
print(list1)
list1.sort()
print(list1)

['a', 'b', 'c', 'd', 'z', 'm']
['a', 'b', 'c', 'd', 'm', 'z']

In [73]:
#in decending order
list1=["a","b","c","d","z","m"]
print(list1)
list1.sort(reverse=True)
print(list1)

['a', 'b', 'c', 'd', 'z', 'm']
['z', 'm', 'd', 'c', 'b', 'a']

In [74]:
l1=["A","B","C","D"]
l1.__add__(["D","E"]) #just perform operation and does not change the orignal value(inline operation)

['A', 'B', 'C', 'D', 'D', 'E']

In [75]:
l1=["A","B","C","D"]
l1.__class__

list

In [77]:
l1=["A","B","C","D"]
print(l1.__contains__("A"))

True

In [ ]:
l1=["A","B","C","D"]
l2=["A","B","C","D"]
l3=['a','f']
print(l1.__eq__(l2))
print(l1.__eq__(l3))

# Loop

In [85]:
["pakistan",12] *100

['pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12,
 'pakistan',
 12]

In [91]:
counter=1   #initialise
while counter <= 10:  #logic
    print("Pakistan",counter)
    counter +=1 #increment or decrement
print("Done")

Pakistan 1
Pakistan 2
Pakistan 3
Pakistan 4
Pakistan 5
Pakistan 6
Pakistan 7
Pakistan 8
Pakistan 9
Pakistan 10
Done

# For Loop

In [ ]:
# (count, logic, increment)
for i in range (1,11):
    print("PAkistan", i)

In [ ]:
while(True):
    print("dd")
    break

# Tupple

In [3]:
for i in range (1,11):
    print("2 X " + str(i)+ "=" +str(2*i))

2 X 1=2
2 X 2=4
2 X 3=6
2 X 4=8
2 X 5=10
2 X 6=12
2 X 7=14
2 X 8=16
2 X 9=18
2 X 10=20

# Example

In [ ]:
enter=True
list1=[]
while(enter):
     
        name=input("Enter name")
        father_name=input("Enter Father name")
        Contact=input("Enter number")
        list1.append(name)
        list1.append(father_name)
        list1.append(Contact)
        enter=input("Do you want again? y/n")
        if enter=='y' or enter =="Y":
        enter=True
        else
        break
print(list1)

In [1]:
print("hellow")

hellow

In [7]:
no=int(input("Enter number"))
for table in range (1,no+1):
    print("\n")
    for i in range (1,10):
         print( table,"X",i,"=",table*i)

Enter number3


1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9


2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18


3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [1]:
for i in range (1,100):
    if i% 5==0 :  
        print(i)
    if i% 15==0:
        print(i)
    if i%7==0:
        print(i)

5
7
10
14
15
15
20
21
25
28
30
30
35
35
40
42
45
45
49
50
55
56
60
60
63
65
70
70
75
75
77
80
84
85
90
90
91
95
98

In [13]:
slap=True
rich=True
boy=True
girl=True
go=True
your_wife=True
marry=True
friend=True
her_husband =True
if go==True and rich==True:
    print("Direct marketing")
    
elif friend == True and rich==True:
    print("Advertising")
elif rich == True and slap==True:
    print("Feedback") 
elif girl==True  and rich == True:
    print("Brand Recognition")
elif rich== True and  her_husband== True:
    print("Demand and supply Gap")
elif rich==false and marry==false and your_wife==True:
    print("Ristriction from marketing")

Direct marketing